#gameBoardWrapper {
    display: flex;
    height: 70%;
    background-color: burlywood;
    color: black;
}

#expeditionsWrapper {
    width: 20%;
    background-image: url(../assets/general/game_background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: whitesmoke;
}

.deckAndCommonCards {
    display: flex;
    flex: 1;
    background-image: url(../assets/general/background_harbour.png);
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}

#deckWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
}

.deckCards {

}

.deck {
    margin: 20% auto 50% auto;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
}

.deck:hover {
    box-shadow: 0 0 10px 3px rgb(58, 51, 63);
}

.deck:active {
    box-shadow: 0 0 8px 2px rgb(139, 30, 217);
}

.discardPile {
    margin: auto auto auto auto;
    border: 2px dashed black;
    border-radius: 15px;
}

.card {
    min-width: 102px;
    min-height: 152px;
    width: 127.5px;
    height: 190px;
}

.cardSideways {
    min-height: 102px;
    min-width: 152px;
    height: 127.5px;
    width: 190px;
}

#shipsAndPersonsWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.personsWrapper {
    width: 100%;
    height: 50%;
}

.shipsWrapper {
    width: 100%;
    height: 50%;
}


.cardsSegment {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cardDetails {
    display: none;
    transition: all 0.2s ease 1s;
}

.card img {
    height: 100%;
    width: 100%;
}

.shipCard, .personCard {
    margin-right: 7px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s;
}

.shipCard:hover, .personCard:hover {
    box-shadow: 0 0 10px 2px rgb(38, 28, 170);
}

.personCard:hover .cardDetails, .shipCard:hover .cardDetails {
    display: block;
    backdrop-filter: sepia(0.01);
    mix-blend-mode: difference;
    filter: invert(1);
}