#gameBoardWrapper {
    display: flex;
    height: 70%;
    background-color: burlywood;
    color: black;
}

#expeditionsWrapper {
    width: 20%;
    min-width: 300px;
    background-image: url(../assets/general/game_background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: whitesmoke;
}

.deckAndCommonCards {
    display: flex;
    width: 80%;
    background-image: url(../assets/general/background_harbour.png);
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}

#deckWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
}

.deckCards {
    position: relative;
}

.deck {
    margin: 20% auto 50% auto;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
}

.deck:hover {
    box-shadow: 0 0 10px 3px rgb(58, 51, 63);
}

.deck:active {
    box-shadow: 0 0 8px 2px rgb(139, 30, 217);
}

.deck.noDraw {
    cursor: not-allowed;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.discardPile {
    margin: auto auto auto auto;
    border-radius: 15px;
}

.card {
    position: relative;
    min-width: 127.5px;
    min-height: 152px;
    /* width: 127.5px; */
    height: 190px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
}

.discardPileOutline {
    min-height: 102px;
    min-width: 152px;
    height: 127.5px;
    width: 190px;
    border: 2px dashed black;

}

.cardSideways {
    transform: rotate(-90deg);
}

#shipsAndPersonsWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.personsWrapper {
    width: 100%;
    height: 50%;
}

.shipsWrapper {
    width: 100%;
    height: 50%;
}


.cardsSegment {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.expeditionCardsSegment {
    /* display: flex; */
    display: inline-flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 20px;
    height: 100%;
    width: 100%;
}

.shipCardDescription {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: calc(100% + 10px);
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.personCardDescription {
    position: absolute;
    z-index: 100;
    bottom: calc(100% + 10px);
    left: 50%;
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.personCardDescription::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
}

.expeditionCardDescription {
    position: absolute;
    z-index: 100;
    top: calc(100% + 10px);
    left: 50%;
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.shipCardDescription::before, .expeditionCardDescription::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

.deckTooltip {
    position: absolute;
    z-index: 100;
    left: 50%;
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.shipCardDescription.show, .personCardDescription.show, .expeditionCardDescription.show, .deckTooltip.show {
    scale: 1;
    opacity: 1;
    pointer-events: auto;
}

.shipCardDescription.show:hover, .personCardDescription.show:hover, .expeditionCardDescription.show:hover, .deckTooltip.show:hover {
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(255, 255, 255, 0.9); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}

.card img {
    height: 100%;
    width: 100%;
    -webkit-user-drag: none;
}

.shipCard, .personCard {
    margin-right: 7px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s;
}

.expeditionCard {
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s;
}

.shipCard:hover, .personCard:hover {
    box-shadow: 0 0 10px 2px rgb(38, 28, 170);
}

.expeditionCard:hover {
    box-shadow: 0 0 10px 2px rgb(228, 188, 255);
}

.taxIncreaseOverlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.taxIncreaseCard {
    background: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    width: 250px;
    /* height: 450px; */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0008;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    img {
        -webkit-user-drag: none;
    }
}

.taxIncreaseImg {
    margin-bottom: 2rem;
}


.continueAfterTaxBtn {
    position: fixed;
    right: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &:hover {
        background-color: #45a049; /* Darker green */
        box-shadow: 0 0 10px rgba(42, 82, 42, 0.9);
    }
    transition: all 0.1s ease;
}

/* .personCard:hover .cardDetails, .shipCard:hover .cardDetails {
    display: block;
    backdrop-filter: sepia(0.01);
    mix-blend-mode: difference;
    filter: invert(1);
} */