#gameBoardWrapper {
    display: flex;
    height: 70%;
    background-color: burlywood;
    color: black;
}

#expeditionsWrapper {
    width: 20%;
    min-width: 300px;
    background-image: url(../assets/general/game_background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: whitesmoke;
}

.deckAndCommonCards {
    display: flex;
    width: 80%;
    background-image: url(../assets/general/background_harbour.png);
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}

#deckAndDiscardPileWrapper {
    /* display: flex;
    flex-direction: column; */
    margin: auto 0;
    width: 20%;
    min-width: 250px;
}

.deckWrapper {
    position: relative;
}

.deck {
    margin: 20% 0 0 0;
    border-radius: 15px;
    cursor: pointer;
    transition: scale .1s, box-shadow .2s;
}

.deck:hover {
    scale: 1.05;
    box-shadow: 0 0 5px 3px rgb(58, 51, 63);
}

.deck:hover ~ .deckCount {
    scale: 1.05;
    top: -48px;
    color: rgb(255, 255, 255, 0.9);
}

.deck:active {
    scale: 1.02;
    box-shadow: 0 0 3px 2px rgb(139, 30, 217);
}

.deck.noDraw {
    cursor: not-allowed;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    &:hover {
        box-shadow: none;
    }
}

.deckCount {
    position: relative;
    top: -50px;
    left: 50%;
    translate: -50% 0;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    /* font-size: 1.1em; */
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: all .1s;
}

.discardPile {
    margin: auto auto auto auto;
    border-radius: 15px;
    cursor: help;
}

.card {
    position: relative;
    min-width: 127.5px;
    min-height: 152px;
    /* width: 127.5px; */
    height: 190px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
}

.discardPileOutline {
    min-height: 102px;
    min-width: 152px;
    height: 127.5px;
    width: 190px;
    border: 2px dashed black;

}

.cardSideways {
    transform: rotate(-90deg);
}

#shipsAndPersonsWrapper {
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    /* width: auto; */
}

.personsWrapper {
    width: 100%;
    height: 50%;
}

.shipsWrapper {
    width: 100%;
    height: 50%;
}


.cardsSegment {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));
    align-items: center;
    width: 90%;
    height: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}

.expeditionCardsSegment {
    /* display: flex; */
    display: inline-flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 20px;
    height: 100%;
    width: 100%;
}

.shipCardDescription {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: calc(100% + 10px);
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(5px); */
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    img {
        height: 100%;
        z-index: 100;
        image-rendering: pixelated;
    }
}

.personCardDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    bottom: 100%;
    left: 50%;
    translate: -50% 0;
    min-width: 550px;
    height: 400px;
    font-family: 'Cookie', cursive;
    font-size: 1.5em;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-image: url(/general/oldScrollSideways.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* backdrop-filter: blur(5px); */
    color: black;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    img {
        height: 75% !important;
        width: 50% !important;
        border-radius: 15px;
        margin: 0 5px 0 70px;
        z-index: 100;
        image-rendering: pixelated;

    }

    p {
        margin: 0 55px 0 10px;
        z-index: 100;
        text-align: center;
    }

}

/* .personCardDescription::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.8);
} */

.expeditionCardDescription {
    position: absolute;
    z-index: 100;
    top: calc(100% + 10px);
    left: 50%;
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.shipCardDescription::before, .expeditionCardDescription::before, .deckTooltip::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

.deckTooltip {
    position: absolute;
    z-index: 100;
    left: 50%;
    translate: -50% 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    color: white;
    /* color: black; */
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 0;
    opacity: 0;
    transition: scale 0.2s cubic-bezier(0,0.0,0.25,1.00), opacity 0.2s, backdrop-filter 0.1s, background-color 0.1s;
    transform-origin: center center;
    pointer-events: none;
    cursor: help;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.shipCardDescription.show, .personCardDescription.show, .expeditionCardDescription.show, .deckTooltip.show {
    scale: 1;
    translate: -50% 0;
    opacity: 1;
    pointer-events: auto;
}

.shipCardDescription.show:hover, .expeditionCardDescription.show:hover, .deckTooltip.show:hover {
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.9);
    /* background-color: rgba(255, 255, 255, 0.9); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(20px); */
}

.personCardDescription.show:hover {
    scale: 1.1;
    translate: -50% -20px;
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
    /* backdrop-filter: blur(20px); */
    transition: all 0.2s ease-in-out;
}

.card img {
    height: 100%;
    width: 100%;
    -webkit-user-drag: none;
}

.shipCard, .personCard {
    margin-right: 7px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s;
}

.shipCard.duplicateColorShip {
    outline: 2px solid rgb(217, 30, 30);
    box-shadow: 0 0 10px 3px rgb(217, 30, 30);
}

.expeditionCard {
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s;
}

.shipCard:hover, .personCard:hover {
    box-shadow: 0 5px 5px 0 rgb(35, 34, 47);
    z-index: 10;
    translate: 0 -10px;
    scale: 1.05;
}

.expeditionCard:hover {
    box-shadow: 0 0 10px 2px rgb(228, 188, 255);
}

.taxIncreaseOverlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.taxIncreaseCard {
    background: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    width: 250px;
    /* height: 450px; */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0008;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    img {
        -webkit-user-drag: none;
    }
}

.taxIncreaseImg {
    margin-bottom: 2rem;
}


.continueAfterTaxBtn {
    position: fixed;
    right: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &:hover {
        background-color: #45a049; /* Darker green */
        box-shadow: 0 0 10px rgba(42, 82, 42, 0.9);
    }
    transition: all 0.1s ease;
}

/* .personCard:hover .cardDetails, .shipCard:hover .cardDetails {
    display: block;
    backdrop-filter: sepia(0.01);
    mix-blend-mode: difference;
    filter: invert(1);
} */