#playersAndGameInfoWrapper {
    height: 20%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.playersWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.playersWrapper .playerWrapper {
    width: 18%;
    height: 70%;
    max-height: 130px;
    background-color: #f0f0f0;
    color: black;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.playerAvatar {
    height: 100%;
    /* border-radius: 8px; */
    margin-right: 10px;
}

.playerInfoAndStats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.playerInfo {
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}


.playerName {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.3em;
    font-weight: bold;
}

.playerStats {
    display: flex;
    
}

.playerStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    height: 100%;
}

.playerStat img {
    height: 60%;
}

.statValue {
    font-size: 0.9em;
    font-weight: bold;
    height: 30%;
}

#gameInfo {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    border-radius: 0 0 8px 8px;
}

.phaseInfo {
    margin: 0 15px;
    font-family: 'Tangerine Bold', cursive;
    font-size: 2em;
}

.gameInfoMetric {
    margin: 0 15px;
}

.currentActivePlayer {
    outline: 3px outset #ffcc00 !important;
    box-shadow: 0 0 10px #ffcc00 !important;
    scale: 1.05;
}

.currentHiringPlayer {
    outline: 3px outset #2bff00;
    box-shadow: 0 0 10px #2bff00;
}

.currentActivePlayer.currentHiringPlayer:before {
    content:"";
    top:1px;
    left:1px;
    right:1px;
    bottom:1px;
    border: #2bff00 outset 3px;
    border-radius: 8px;
    position: absolute;
}